body, html {
    height: 100%;
    text-align: center;
}

body {
  background-color: #242F3F;
}

.loader {
  display: inline-block;
  width: 33px;
  height: 33px;
  position: relative;
  border:  solid #ab226d;
  border-radius: 30%;
  top: 50%;
   animation: loader 4s infinite ease;  
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 33px;
background-color: #fff;
  border-radius: 20%;
   animation: loader-inner 6s infinite ease-in; 
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}